/*

selector {properties: value;
        properties: value;
      }

*/

html {

  /*min-width: 660px;*/

  /*background-image: url();*/

}

p.uppercase {
    text-transform: uppercase;
}
h1 {
  background-color:###f5f5f5;
  font-family: 'Work Sans', sans-serif;
  font-size: 150px;
      text-transform: uppercase;
      font-weight: 400;
      color: #000000;
  text-align: center;

}

p.lowercase {
    text-transform: lowercase;
}
h2 {
font-family: 'Playfair Display', serif;
  background-color: #ffffff;
  font-weight: 200;
  text-align: center;

  padding: 20px;
  margin-bottom: 3em;

  padding-left: 0px;

}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
      text-transform: uppercase;
      font-weight: 400;
      color: #000000;
  
      margin-bottom: 5em;
      margin-right: 5em;
  text-align: left;
  list-style: none;
}

ul {

  color: #000000;
  list-style: none;



}

}
