/*

selector {properties: value;
        properties: value;
      }

*/

html {

  /*min-width: 660px;*/

  /*background-image: url();*/

}

html, body{margin: 0; padding: 0;}

h1 {
  font-size: 150px;
      text-transform: uppercase;
      font-weight: 100;
      text-align: center;
      letter-spacing: -2px;
      background-image: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255, .75)), url(kards-familypic-bw.jpg);
      background-size: 100% 100%, cover;
      background-position: center;
      background-position: top;
      margin: 0;
      height: 80vh;


}

h1 span, h1 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


h2 {
font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-style: italic;
  font-size: 130%;
  text-align: center;
  text-transform: lowercase;
  padding: 20px;
  margin-bottom: 1em;
  padding-left: 0px;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2em;
  text-align: left;
  list-style: none;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 5em;
  text-align: left;
  list-style: none;
}

ul {
  list-style: none;

}
