
/**/

html {

  /*min-width: 660px;*/

  /*background-image: url();*/

  position: relative;
  min-height: 100%;

}

html, body{margin: 0; padding: 0;
}

/*
body {
  font-weight: 100;
}
*/

#lilnavbox{
  border: 1px solid white;
  border-radius: 40px;
  bottom:50px;
  left:20px;
  position: fixed;
  z-index: 3;
  height: 170px;
  width: 50px;
  background-color: #000000;
  padding-top: 10px;
}

.lilnavbox-circle{
background-color: #FFFFFF;
border-radius: 20px;
width: 40px;
height:40px;
margin-top: 5px;
margin-left: 4px;
padding-left: 13px;
}

.lilnavbox-circlebird{
background-color: #FFFFFF;
border-radius: 20px;
width: 40px;
height:40px;
margin-top: 5px;
margin-left: 4px;
padding-left: 13px;
}


.lilnavbox-circle-diff-margin{
background-color: #FFFFFF;
border-radius: 20px;
width: 40px;
height:40px;
margin-top: 5px;
margin-left: 4px;
padding-left: 2px;
padding-top: 2px;
}

.lilnavbox-circle-another-diff-margin{
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 40px;
  height:40px;
  margin-top: 5px;
  padding-top: 3px;
  margin-left: 4px;
  padding-left: 2px;


}




a.black-link:link{
color: #000000;
}

a.black-link:visited { color: #000; text-decoration:none; font-weight:normal; }






img {
  max-width: 100%;
  width: auto;
  height: auto;
}


/*footnote box associated with red footnote*/
/*#7FFF00*/


#footnote_box{
  width: 560px;
  height: 105px;
  background-color: #f2f2f2;
  /*background-color: #fff;*/
  z-index: 1;
  position: absolute;
  border: 1px solid black;
}








img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/*footnote box associated with red footnote*/
/*#7FFF00*/




/*use # for id (primary)*/
/*use . for class (secondary)*/



/* The Modal (the entire site behind welcome window */
.splash {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 55px; /* Location of the box, up and down */
    padding-bottom: 5px;
    top: 0;
    width: 100%; /* Full width */
    min-height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*Modal content (fill) for welcome window*/
/**/
.splash .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /*size of the box*/
    height: 500px; /*size of the box*/
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




.kiss{
  width: 50px;
  float: right;
  margin-right: 250px;
}

.kissbox {
/*  width: 700px;
  height: 500px; */
  background-color: #fff;
  z-index: 1;
  border: 1px solid black;
  margin : 0 auto;
}

/*footnote*/
.footnote {
  background-color: red;
  padding: 0 6px;
  color: #f8f7f3;
  border-radius: 6px;
  line-height: .5;
  font-size: 75%;
  vertical-align: super;
  font-weight: 400;
}

.footnotebox {
  background-color: none;
  padding: 10px;
}



/*kiss icon for logo*/
.article-link-icon.kissaside {
  background-position: 0px 150px;
}

h1 span, h1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
      font-family: 'Work Sans', sans-serif;
      font-size: 500% !important;
      text-transform: uppercase;
      font-weight: 100;
      text-align: center;
      letter-spacing: -2px;
      /*background-image:  linear-gradient(rgba(255,255,255,0.75),(rgba(255,255,255,0.75)), url(kards-familypic-bw.jpg);
      background-size: 100% 100%, cover;
      background-position: center;
      background-position: top;
      margin: 0;
      height: 80vh;*/
}

h2{
  font-family: 'Playfair Display', Times, serif;
  font-weight: normal;
  font-style: italic;
  font-size: 130%;
  text-align: center;
  text-transform: lowercase;
  padding: 20px;
  margin-bottom: 1em;
  padding-left: 0px;
}

.subheadings{
  text-align:center;
  font-style: normal;
  font-weight: bolder;
  font-family: 'Work Sans', sans-serif;
  font-size: 100%;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}


/*for welcome window*/
h3 {
  font-family: 'Playfair Display', Times, serif;
  font-weight: normal;
  font-style: italic;
  font-size: 130%;
  text-align: center;
  text-transform: lowercase;
  padding: 0px;
  margin-bottom: 1em;
  padding-left: 0px;
}

/*for welcome window*/
h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 120%;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0px;
}

/*for text inside footnote box*/
h5 {
    font-family: 'Work Sans', sans-serif;
    font-size: 100%;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right:0em;
    margin-top: 1em;
    text-align: center;
    font-weight: 200;
    color: black;
  }

h6 {
    font-family: 'Playfair Display', Times, serif;
    font-weight: 100;
    font-style: italic;
    font-size: 200%;
    text-align: center;
    /*margin-top: center;
    margin-bottom: center;
    margin-left: center;
    margin-right: center;*/
    text-transform: lowercase;
    letter-spacing: .5em;
    color: white;
    /*padding-top: 20px;
    margin-bottom: 0px;
    padding-left: 0px;*/
}

h7{
  font-family: 'Work Sans', sans-serif;
  font-size: 140% !important;
  text-transform: uppercase;
  /*font-weight: 100;*/
  text-align: center;
  padding-top: 5em;
  margin-bottom: 1em;
  padding-left: 0px;
}

h8{
  font-weight: bolder;
  margin-left:20.5em;
  font-family: 'Work Sans', sans-serif;
  font-size: 100%;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: -2px;
  /*margin: 0 auto;*/
  width: 90%;
  /*max-width: 700px;*/

}

h9 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 5em;
  margin-left: 5em;
  margin-right: 5em;
  text-align: left;
  list-style: none;
  margin: 0 0 100px;
}



body
{
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  /*font-weight: 400; SAME A "NORMAL"*/
  /*font-weight: normal;*/
  font-size: 20px;
  margin-bottom: 5em;
  margin-left: 5em;
  margin-right: 5em;
  text-align: left;
  list-style: none;
  margin: 0 0 100px; /* bottom = footer height */
}

.bibliotext{
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  /*font-weight: 400; SAME A "NORMAL"*/
  /*font-weight: normal;*/
  font-size: 20px;
  margin-bottom: 1em;
  /*margin-left: 5em;*/
  /*margin-right: 5em;*/
  text-align: left;
  list-style: none;
  margin-right: 50px;
  margin-left: 50px;
}

p {
  text-indent:0px; /*this is where we set the indentation (automatic for new paragraphs right now)*/
  margin: 0 auto;
  width: 90%;
  max-width: 700px;

}

.wrapper{
  min-height: 100%;
  margin-bottom: -50px;
}

/*
.footer,
.push{
  height: 50px;
}
*/


.foot-col{
  margin: 0;
  padding: 0;
  margin-left: 20px;
  color: #ddd;
}

.foot-col ul{
  font-size: .7em;
}

.foot-col img{
  height: 50px;
}

.foot-row, .foot-icons{
  margin: 0 80px 100px;
  padding-bottom: 50px;
  border-bottom: 1px solid #555;
}

.foot-icons{
  margin-bottom: 0;
  text-align: center;
}

.foot-icons ul li{
  display: inline-block;
}




.footer-section-header{
  color: #ddd;
  text-transform:uppercase;
  font-size: 20px;
  font-style: normal;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: left;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: black;
  /*making the first number smaller makes the overlap in bio foot less*/
  padding: 60px 0px 0px 0px;
  /*padding: 60px 0px;*/
  position: absolute;
  left: 0;
  bottom: 0;
}

.image-col{
    padding: 0 !important;
    border: 1px solid #fff;
}

.image-row{
  line-height: 0;
}

/*for bio head shots*/

.bio {
  clear: both;
}

.bio-image {
  width: 48%;
  text-align: left;
  float: left;
  padding: 15px 5px;
}

.bio-text {
  width: 48%;
  float: right;
  padding-right: 20px;
  border: 10px;
  /*border-style: solid;
  border-color: #f2f2f2;*/
  padding-top: 0px;
  padding-bottom: 0px;
}

#bio-text-joey {
  width: 48%;
  float: right;
  padding-right: 20px;
  padding-bottom: 250px;
  border: 10px;
  /*border-style: solid;
  border-color: #f2f2f2;*/
  padding-top: 0px;
}

/*for DASH screenshot*/
.DASH-screenshot img {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 350px;
}

/*for cycling image banner*/
.cycling-banner img {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 1200px;
  /*1024px;*/
  /*width: 1024px;*/
}
/*for a single image, sticking beyond width of text*/
.single-image {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.single-image img {
  width: 900px;
}

/*for a single image, width of text*/
.single-image-text-width {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.single-image-text-width img {
  width: 450px;
}

/*for row of three images*/
.row-of-three {
  padding: 40px 60px;
  text-align: center;
}

.row-of-three img {
  width: 300px;
}

/*for row of five images*/
.row-of-five {
  padding: 40px 60px;
  text-align: center;
}

.row-of-five img {
  width: 180px;
}

/*for image in welcome window*/
.welcome-images {
  padding: 15px 0px;
  text-align: center;
}
.welcome-images img {
  width: 300px;
}

/*for logos at bottom of welcome window*/
.welcome-logos {
  padding: 0;
  text-align: center;
}

.welcome-logos img {
  height: 60px;
}

/*for adding tabs at the beginning of a paragraph */
.tab {
  margin-left: 440px;
}




.tabs .tab a, .tabs .tab a.active {
    color: white !important;
    font-weight: 400;
}

/*modal window for red footnote*/

element {
    left: 484px;
    top: 1381px;
    width: 300px;
    display: block;
}

.page-wrap {
  overflow-x: hidden;
}

@media only screen and (min-width: 1024px ){
  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -52px;
  }
  .page-wrap:after {
    content: "";
    display: block;
  }

  .site-footer, .page-wrap:after {
    /* .push must be the same height as footer*/
    height: 52px;
  }
}

/*#kiss {
  float: right;
  width: 70px;
  margin-right: 10%;
}*/

.kiss-body {
  max-width: 700px;
  margin: auto;
  display: none;
  border: 1px solid #ddd;
  padding: 10px 10px;
}

.biobox {
  border: 10px solid black;
  width: 900px;
  height: 200px;
  background-color: black;
  /*margin-left: auto;
  margin-right: auto;*/
  width: 900px;
  /*min-height: 200px;*/
  display: table-cell;
  vertical-align: middle;
}
